<mat-card class="mat-elevation-z4" >
    <mat-card-header fxLayout="row" fxLayoutAlign="space-between">
      <mat-card-title>{{item?.name}}</mat-card-title>
      <mat-card-subtitle>{{item?.restaurant.name}}</mat-card-subtitle>   
      <h3>{{item?.price}}$</h3>
    </mat-card-header>
      <img mat-card-image class="main-image" src="{{item?.picture}}">
      <h4> Type: {{item?.category.category}}</h4>
    <mat-card-content class="description">
      <p>
        {{item?.description}}
      </p>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center center" >
      
      <button mat-raised-button color="primary" routerLink="/product/{{item?.id}}" >BUY</button>
    </mat-card-actions>
  </mat-card>
